<div class="content" (click) = "sticky= !sticky">
    <div class="container">
      <div class="row">
        <div class="col-md-6 contents">
          <div class="row justify-content-center" [class.sticky-panel]="sticky" [class.just-panel]="!sticky">
            <div class="col-md-8" (click)="sticky= false">
              <div class="mb-4">
              <h3>Registro</h3>
              <p class="mb-4">Cuéntanos sobre ti, rellena el siguiente formulario para registrarte:</p>
            </div>
            <form [formGroup]="registerForm" >
              <div class="form-group first" [class.invalidInput]="registerForm.controls.email.touched && registerForm.controls.email.invalid">
                <input type="email" class="form-control" formControlName="email" id="email" required>
                <label for="email" [class.notValid]="registerForm.controls.email.touched && registerForm.controls.email.invalid" [class.invalidInput]="registerForm.controls.email.touched && registerForm.controls.email.invalid">Correo electrónico </label>
              </div>
              <div class="form-group first" [class.invalidInput]="registerForm.controls.password.touched && registerForm.controls.password.invalid">
                <input type="password" class="form-control" formControlName="password" id="password" required>
                <label for="password" [class.invalidInput]="registerForm.controls.password.touched && registerForm.controls.password.invalid">Contraseña</label>
                
              </div>
              <div class="form-group last mb-4" [class.invalidInput]="registerForm.controls.passwordConfirm.touched && registerForm.controls.passwordConfirm.invalid">
                <input type="password" class="form-control" formControlName="passwordConfirm" id="passwordConfirm" required>
                <label for="passwordConfirm" [class.invalidInput]="registerForm.controls.passwordConfirm.touched && registerForm.controls.passwordConfirm.invalid">Confirmar contraseña</label>
                
              </div>
              <button type="submit" (click)="submit()" class="btn btn-block btn-primary" >Registrarme</button>

              <span class="d-block text-center my-3 text-muted">&mdash; O registrate con &mdash; <div class="social-login">
                <a href="#" class="facebook">
                  <span class="icon-facebook mr-3"></span> 
                </a>
                <a href="#" class="twitter">
                  <span class="icon-twitter mr-3"></span> 
                </a>
                <a href="#" class="google">
                  <span class="icon-google mr-3"></span> 
                </a>
              </div></span>
              
              <span class="d-block ml-auto text-center">¿Ya tienes una cuenta?<a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="forgot-pass" style="font-size: inherit;"> Ingresa aquí</a></span>
            </form>
            </div>
          </div>
          
        </div>
        <div class="col-md-6">
            <img src="../../../../assets/img/fondo2.svg" alt="Image" class="img-fluid">
          </div>
      </div>
    </div>
  </div>